@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Prepare yourself for Interview Questions</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <ul>
        <li>Java</li>
        <li>C# - ASP.NET Core</li>
        <li>SQL</li>
        <li>Web Programming</li>
    </ul>
</div>
